.cocktail-detail {
    margin: auto;
    height: 90vh;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;

    .title-container {
        color: lightgreen;
    }

    .table-title{
        color: rgb(20, 37, 20);
        font-size: x-large;
    }

    .ingredient {
        padding: 10px;
        border: 1px solid black;
        background-color: lightgreen;
        border-radius: 10px;
    }

    .cocktailPic {
        height: 30vh;
        border-radius: 50%;
    }
}