.registration-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    padding: 50px;

    .registration-form {
        padding: 50px;
        width: 40%;
        background-color: #b4b7c7;
        border-radius: 10px;
    }
}