.box-header {
  display: flex;
  justify-content: center;
  flex-direction: row;

  h2 {
    margin: 0 10px;
  }
}

.details {
  font-size: 12px;
}

@font-face {
  font-family: 'Caribbean';
  src: url('../../static/Caribbean.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.flamingo-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
