.container {
  display: flex;
  flex-wrap: nowrap;
  padding: 55px;
  overflow-x: hidden;
  width: 100%;
}

.item {
  background: green;
  flex: 0 0 20%;
  text-align: center;
  margin: 0 2px;
  height: 70px;
  transition: transform 300ms ease 50ms;
}

.container:hover .item {
  transform: translateX(-25%);
}

.item:hover ~ .item {
  transform: translateX(25%);
}

.item:hover {
  transform: scale(1.5) !important;
}

.outer {
  display: flex;
}
