.form-detail {
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-right: 20px;

    .cocktail-detail-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35%;
    }

    .ingredients-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 65%;
        overflow: scroll;
        overflow-x: hidden;

        .ingredients {
            display: flex;
            flex-wrap: wrap;
            border: 1px solid beige;
            width: 90%;
            height: 50%;
            gap: 10px;
            margin: 10px;
            padding: 10px;
            background-color: rgba(255, 255, 255, 0.4);
            border-radius: 5px;
        }

        .ingredientTypeLabel {
            width: 100%;
            text-align: left;
        }
    }
}

.create-link {
    text-decoration: none;
    background-color: #909090;
    border-radius: 5px;
    font-weight: bolder;
    font-size: xx-large;
    color: #ebca6c;
    padding: 10px;
    margin-bottom: 100px;

    &:hover {
        text-decoration: none;
        background-color: #555555;
        color: #ebca6c;
        border-radius: 5px;
    }
}

input[type="checkbox"] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.2); /* IE */
    -moz-transform: scale(1.2); /* FF */
    -webkit-transform: scale(1.2); /* Safari and Chrome */
    -o-transform: scale(1.2); /* Opera */
    padding: 5px;
}
