.form-detail {
    display: flex;
    justify-content: space-around;
    margin: auto;

    .cocktail-detail-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 35%;
    }

    .ingredients-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 65%;
        overflow: scroll;
        overflow-x: hidden;

        .ingredients {
            display: flex;
            flex-wrap: wrap;

            height: 450px;
            gap: 10px;
        }
    }
}
